body {
  font-family: lato, helvetica, sans-serif;
}

.jumbotron {
  background-image: url(/images/sandwich.jpg);
  height: 1000px;
  
}

#info {
  font-size: 50px;
}
#text {
  color: #C4C3C3;
  font-size: 8vw;
}

.letter {
  color: #1921BB;
}

#search {
  margin-top: 20px;
  background-color: #1921BB;
  margin-bottom: 20px;
}

.restInfo {
  color: red;
}

#grade {
  color: #1921BB;
}

#map { 
  height: 50%; 
}

#showMap {
  margin-bottom: 20px;
}